# Flask stuff:
instance/
.webassets-cache

# Environment variables:
website/.env

# Virtual Environment
.venv/

# Databases
databases/

# cleaning the repo
cleaning/
Big-Sister.git/
Big-Sister.git.bfg-report/