<!DOCTYPE html>
<html lang="en">
<head>
    <title> The Big Sister App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"> Big Sister </h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="./map.py">MAP</a></li>
                    <li><a href="./report.html">REPORT</a></li>
                    <li><a href="./resources.html">RESOURCES</a></li>
                    <li><a href="./about.html" >ABOUT</a></li>

                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="find what you need...">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1>Welcome to <br><span> the Big Sister app</span> <br> by everyone, for everyone</h1>
            <p class="par">Big Sister is an webapp designed to prevent sexual assault and harrasement<br> on college campuses. Make a report, view your surroundings or access resources.  </p>

                <button class="cn"><a href="#"> Join Now</a></button>

                <div class="form">
                    <h2> Quick Report </h2>
                    <br><input type="email" name="email" placeholder="Enter University Email Here">


                    <br><label for="Type of Report">Type of Report</label><br>
                    <select id="Please identify the level of the report you wish to make"
                        name="Please identify the level of the report you wish to make">
                    
                        <option value="Yellow">Yellow</option>
                        <option value="Orange">Orange</option>
                        <option value="Red">Red</option>
                    </select>


                    <br><br><label for="College or University">College or University</label><br>
                    <select id="College or University" name="College or University">

                        <option value="Amherst College">Amherst College</option>
                        <option value="Babson College">Babson College</option>
                        <option value="Bentley University">Bentley University</option>
                        <option value="Boston Architectural College">Boston Architectural College</option>
                        <option value="Boston College">Boston College</option>
                        <option value="Boston College Carroll School of Management">Boston College Carroll School of
                            Management</option>
                        <option value="Boston College Law School">Boston College Law School</option>
                        <option value="Boston College School of Social Work">Boston College School of Social Work
                        </option>
                        <option value="Boston College School of Theology and Ministry">Boston College School of Theology
                            and Ministry</option>
                        <option value="Boston Conservatory at Berklee">Boston Conservatory at Berklee</option>
                        <option value="Boston University">Boston University</option>
                        <option value="Boston University College of Communication">Boston University College of
                            Communication</option>
                        <option value="Boston University College of Fine Arts">Boston University College of Fine Arts
                        </option>
                        <option value="Boston University College of General Studies">Boston University College of
                            General Studies</option>
                        <option value="Boston University Questrom School of Business">Boston University Questrom School
                            of Business</option>
                        <option value="Boston University School of Dental Medicine">Boston University School of Dental
                            Medicine</option>
                        <option value="Boston University School of Education">Boston University School of Education
                        </option>
                        <option value="Boston University School of Law">Boston University School of Law</option>
                        <option value="Boston University School of Medicine">Boston University School of Medicine
                        </option>
                        <option value="Boston University School of Public Health">Boston University School of Public
                            Health</option>
                        <option value="Boston University School of Social Work">Boston University School of Social Work
                        </option>
                        <option value="Boston University School of Theology">Boston University School of Theology
                        </option>
                        <option value="Brandies International Business School">Brandies International Business School
                        </option>
                        <option value="Brown University">Brown University</option>
                        <option value="Cambridge College">Cambridge College</option>
                        <option value="Clark University">Clark University</option>
                        <option value="Eastern Nazarene College">Eastern Nazarene College</option>
                        <option value="Emerson College">Emerson College</option>
                        <option value="Endicott College">Endicott College</option>
                        <option value="Framingham State University">Framingham State University</option>
                        <option value="Gordon College">Gordon College</option>
                        <option value="Harvard Business School">Harvard Business School</option>
                        <option value="Harvard Divinity School">Harvard Divinity School</option>
                        <option value="Harvard Graduate School of Arts and Sciences">Harvard Graduate School of Arts and
                            Sciences</option>
                        <option value="Harvard Graduate School of Design">Harvard Graduate School of Design</option>
                        <option value="Harvard Graduate School of Education">Harvard Graduate School of Education
                        </option>
                        <option value="Harvard Kennedy School">Harvard Kennedy School</option>
                        <option value="Harvard Law School">Harvard Law School</option>
                        <option value="Harvard Medical School">Harvard Medical School</option>
                        <option value="Harvard School of Dental Medicine">Harvard School of Dental Medicine</option>
                        <option value="Harvard School of Public Health">Harvard School of Public Health</option>
                        <option value="Lesley University">Lesley University</option>
                        <option value="Massachusetts College of Art and Design">Massachusetts College of Art and Design
                        </option>
                        <option value="Massachusetts College of Pharmacy and Health Sciences">MCPHS</option>
                        <option value="Massachusetts Institute of Technology">Massachusetts Institute of Technology
                        </option>
                        <option value="Merrimack College">Merrimack College</option>
                        <option value="MIT">MIT</option>
                        <option value="Mount Holyoke College">Mount Holyoke College</option>
                        <option value="New England Conservatory of Music">New England Conservatory of Music</option>
                        <option value="Northeastern University">Northeastern University</option>
                        <option value="Providence College">Providence College</option>
                        <option value="Regis College">Regis College</option>
                        <option value="Salem State University">Salem State University</option>
                        <option value="Simmons University">Simmons University</option>
                        <option value="Smith College">Smith College</option>
                        <option value="Stonehill College">Stonehill College</option>
                        <option value="Suffolk University">Suffolk University</option>
                        <option value="Tufts University">Tufts University</option>
                        <option value="Tufts University School of Dental Medicine">Tufts University School of Dental
                            Medicine</option>
                        <option value="Tufts University School of Education">Tufts University School of Education
                        </option>
                        <option value="Tufts University School of Medicine">Tufts University School of Medicine</option>
                        <option value="University of Massachusetts Boston">University of Massachusetts Boston</option>
                        <option value="University of Rhode Island">University of Rhode Island</option>
                        <option value="Wellesley College">Wellesley College</option>
                        <option value="Wheaton College">Wheaton College</option>
                        <option value="Williams College">Williams College</option>
                        <option value="Worcester Polytechnic Institute">Worcester Polytechnic Institute</option>
                    </select>
                        
                    <br><input type="location" name="location" placeholder="Enter your approximate address">

                    <button class="btnn"><a href="#"> submit </a></button>

                    <p class="link">Terms & Conditions<br>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
