<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <title>The Big Sister App</title>
</head>

<body>
    <main>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" tabindex="-1" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#map">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mentalhealth">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#project">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/report">Report</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <button class="vvd" onclick="location.href='#alerts-section';" id="navJoin-btn"><span
                                id="navJoin">Join the Network</span></button>
                    </span>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- Banner -->
        <section class="banner" id="home">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-7 col-md-6 col-xl-7  wow fadeIn" data-wow-duration="1.5s">
                        <span class="taglin">By Everyone, For Everyone</span>
                        <h1 id="banner-intro">Welcome to<span id="bannerHeader" class="txt-rotate" data-period="9000"
                                data-rhotate='[" Big Sister"]'> Big Sister </span>
                            based in Boston </h1>
                        <p>We are a safety platform aiming to create a safe space
                            for those who identify as women or non-binary.
                            Providing the ability to report incidents of harassment
                            anonymously and a heat map displaying these incidents,
                            we ensure that you never walk alone
                        </p>
                        <span class="row" id="navbuttons">
                            <button class="col-3 header_btns">Make A Report</button>
                            <button class="col-3 header_btns"
                                onClick="document.getElementById('joinBigSister').scrollIntoView();">Receive
                                Alerts</button>
                            <button class="col-3 header_btns"
                                onClick="document.getElementById('resourcesCarousel').scrollIntoView();">Resources</button>
                        </span>
                        <button onclick="location.href='#connect';">Let’s Connect <i
                                class="bi bi-arrow-right-circle"></i></button>

                    </div>
                    <span class="col-3 col-md-3 col-xl-3 wow zoomIn" data-wow-duration="1.5s" style="margin-right: 2%;">

                        <img id="bannerimg" src="{{ url_for('static', filename='images/header-img.svg') }}" alt="Image" style="left:0;height:200%;width:200%">

                    </span>

                    <div id="socialmediacol" class="col-1 col-md-1 col-xl-1" style="margin-left:5%; margin-right:0%;">
                        <img class="row" src="{{ url_for('static', filename='images/instagramlogo.png') }}" alt="Instagram Logo">
                        <img class="row" src="{{ url_for('static', filename='images/linkedinlogo.png') }}" alt="LinkedIn Logo">
                        <img class="row" src="{{ url_for('static', filename='images/githublogo.png') }}" alt="GitHub Logo">
                    </div>
                </div>

            </div>
            </div>
        </section>
        <!-- Banner End -->

        <!-- Map Guide Section-->
        <section id="map-guide" class="section">
            <h1 class="guideHeading"> Interactive Heat Map</h1>
            <h4 class="section-paragraph col-11"> Our Heat Map displays reports made in your specified area. When you
                click on a pin,
                you will be able to see the details regarding the incident of which occurred.
                You will be able to see the location,
                the type of incident, and a description of what happened.</h4>
        </section>
        <!-- End of Map Guide Section-->

        <!-- Map Section -->
        <section id="mapSection" class="initial my-0 py-0">
            <div id="mapRow" class="row">

                <!-- Location Search -->
                <div class="col-3 col-md-3" id="locationSearch">
                    <h1 class="row col-12" id="searchHeader">Select Your Location</h1>
                    <input id="pac-input" class="controls row" type="text" placeholder="College, City, or Zip Code">
                    <h4 class="row" id="searchGuide">
                        Click the Exlamation Mark in the top right corner of the map to make a report
                    </h4>
                    <!--Pin Image-->
                    <img id="mapPin" alt="Map Pin Image" class="row" src="{{ url_for('static', filename='images/mappin1.png') }}">
                </div>
                <!-- End of Location Search -->

                <!-- Google Map-->
                <div id="mapdiv" class="col-9 col-md-9 zoomIn" data-wow-duration="1.5s">
                    <div id="mapAndReport">
                        <div id="googleMap" style="width: 75vw; height:800px;"></div>
                        <div id="navToReports" title="Make A Report!">
                            <img src="{{ url_for('static', filename='images/exclamation.png') }}" id="exclamation" alt="Exclamation Mark">
                        </div>
                    </div>

                    <!-- Map JS -->
                    <script src="{{ url_for('static', filename='javascript/map.js')}}" async defer></script>
                    <!-- End of Map JS -->

                </div>
                <!--End of Google Map-->
            </div>
        </section>
        <!-- End of Map Section -->


        <!-- Resources Section -->
        <section class="resources-section row">

            <div class="resource-text">
                <h1 class="guideHeading"> Resources </h1>
                <h4 class="section-paragraph"> You survived. Whether or not you chose to report your experience, you
                    deserve access to resources
                    that can enable you to begin to heal. Below are quick links to popular recovery resources. <span
                        style="color: #edc0d2;">We are proud of you, and we admire you</span>
                </h4>
            </div>

            <!-- Resources Container -->
            <div class="row" style="margin-top: -5%; margin-left: 2%">


                <!-- University Resources -->
                <div class="col-3 resource-card">
                    <div class="card col-12">
                        <img src="{{ url_for('static', filename='images/unires.webp') }}" class="card-image col-3" alt="Northeastern University">

                        <div class="card-content">
                            <span class="card-title"> University Resources</span>
                        </div>
                    </div>
                    <p class="card-text"> Support Resources that are provided to you by your university such as free
                        access to support resources</p>
                </div>


                <!-- Mental Health Resources -->
                <div class="col-3 resource-card">
                    <div class="card col-3">
                        <img src="{{ url_for('static', filename='images/mentalres.png') }}" class="card-image col-3" alt="Black Woman Crossing Arms Over Shoulders">

                        <div class="card-content">
                            <span class="card-title"> Mental Health</span>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    <p class="card-text"> Find free mental health resources online to help you </p>
                </div>


                <!-- Hotlines -->
                <div class="col-3 resource-card">
                    <div class="card col-3">
                        <img src="{{ url_for('static', filename='images/hotlineres.png') }}" class="card-image col-3" alt="Black Woman Making a Phone Call">

                        <div class="card-content">
                            <span class="card-title"> Hotlines</span>
                            <p class="card-text"></p>
                        </div>
                    </div>
                    <p class="card-text">Need someone to talk to? Select from one of the hotlines pertaining to your
                        needs</p>
                </div>
            </div>
            <!-- End of Resources Container-->

        </section>
        <!-- End of Resources Section-->


        <!-- Statistics Section -->
        <section id="stats-section">
            <div class="container" style="margin-left: 10%;">
                <h1>2022 Harassment Statistics</h1>
                <h4>Harassment on college campuses has been on the rise, and Big Sister is dedicated to decreasing these
                    numbers</h4>

                <!-- stats 1 & 2-->
                <div class="row">
                    <!-- stat 1-->
                    <div class="col-6 stats-box">
                        <div class="stats-bg">
                            <p class="stat-text col-7">78.2% of harassment
                                reports were made by
                                women in 2022</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/stat1.png') }}" alt="Harassment Reports Percentage" class="stat-img">
                    </div>

                    <!-- stat 2-->
                    <div class="col-6 stats-box">
                        <div class="stats-bg">
                            <p class="stat-text col-7">84% of student survivors
                                report being assaulted within
                                the first 4 semesters on campus</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/stat2.png') }}" alt="Student Survivors Percentage" class="stat-img"
                            style="height: 120%;">
                    </div>
                </div>

                <!-- stats 3 & 4-->
                <div class="row">
                    <!-- stat 3-->
                    <div class="col-6 stats-box">
                        <div class="stats-bg">
                            <p class="stat-text col-7">Only 12% of student
                                survivors report to
                                the police</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/stat3.png') }}" alt="Reported to Police Percentage" class="stat-img"
                            style="height: 150%; top: -90px;">
                    </div>

                    <!-- stat 4-->
                    <div class="col-6 stats-box">
                        <div class="stats-bg">
                            <p class="stat-text col-7">23% TGQN (transgender, queer, noncomforming) college students
                                have been sexually assaulted</p>
                        </div>
                        <img src="{{ url_for('static', filename='images/stat4.png') }}" alt="TGQN Percentage" class="stat-img"
                            style="height: 120%;">
                    </div>
                </div>
            </div>
            <p style="margin-left: 10%; padding-bottom: 20px;">Provided by rainn.org, knowyourix.org</p>

        </section>

        <!-- End of Statistics -->


        <!-- Sign up  for alerts section -->
        <section id="alerts-section">

            <div class="row" style="margin-left:5%; margin-top: 3%;">
                <div id="form-section" class="col-6">
                    <h1 id="alerts-heading"> Join Big Sister Today</h1>
                    <h5 style="margin:5%;">Sign up for big sister alerts to receive notification each time a report is
                        made in your area</h5>

                    <!-- Submission Form -->
                    <form style="margin-left: 6%;">

                        <div class="row"><input id="form-location" type="text" class="col-12 inputs"
                                placeholder="Location"></div>

                        <div class="row"><input id="form-email" type="text" class="col-12 inputs"
                                placeholder="Email Address"></div>

                        <div class="row"><input id="form-college" type="text" class="col-12 inputs"
                                placeholder="College/University"></div>

                        <div class="row">
                            <select id="form-frequency" class="col-12 inputs" placeholder="Alert Frequency">
                                <option id="every-time">Every time an alert is made in my area</option>
                                <option id="every-hour">Every Hour</option>
                                <option id="every-threeHours">Once Every 3 Hours</option>
                                <option id="every-eightHours">Once Every 8 hours</option>
                                <option id="every-day">Once a Day</option>
                            </select>
                        </div>
                    </form>
                    <!-- End of Submission Form-->

                    <!-- Submission Button-->
                    <button id="form-submit" type="submit" class="col-12">Join the Network</button>

                    <p>By signing up to receive alerts, you are agreeing to our 
                        <span id="terms">
                            <a href="https://docs.google.com/document/d/1muKPLOc3X8aeNq_dO21XtSE8iAMPlrmMkS6qK6TGa0s/edit">Terms and Conditions.</a></span>
                        Absolutely no harassment or spam reporting will be tolerated.
                        Doing so may result in a report to a user’s university or local authorities</p>
                </div>

                <!-- Fake Phone -->
                <div class="col-6"><img src="{{ url_for('static', filename='images/cornerphonemockup.png') }}" id="alertsphone" class="col-6" alt="Phone Showing Alert"></div>
            </div>
        </section>

        <!-- End of Sign Up for Alerts Section-->

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">

                    </div>

                    <div class="col-12 col-sm-6">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="margin-top: 5%">
                    </div>
                    
                    <div id="socialmediacol" class="row " style="margin-left:80%; margin-right:0%;">
                        <img class="col-3" src="{{ url_for('static', filename='images/instagramlogo.png') }}" alt="Instagram Logo" style="width: 65px; height: 40px; margin-bottom: 0%">
                        <img class="col-3" src="{{ url_for('static', filename='images/linkedinlogo.png') }}" alt="LinkedIn Logo" style="width: 65px; height: 40px; margin-bottom: 0%">
                        <img class="col-3" src="{{ url_for('static', filename='images/githublogo.png') }}" alt="GitHub Logo" style="width: 65px; height: 40px; margin-bottom: 0%">
                    </div>
                   
                </div>
            </div>
        </footer>
        <!-- Footer End -->

    </main>

    <!-- JS Files -->
    <script src="{{ url_for('static', filename='javascript/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</body>

</html>